.title {
    /* Reset margin, padding */
    margin: 0;
    padding: 0;

    /* Set custom values */
    margin-bottom: 15px;
}

.authz {
    text-align: center;
    background-color: #F5F7F9;
    border-radius: 5px;
    padding: 30px 0;

    color: #222228;
}

.status {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #F0F2F4;
    color: #BBBBBB;
    padding: 4px 7px 4px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
