EXTENSION_CLIENT_ID={non interactive client id}
EXTENSION_SECRET={non interactive client secret}
AUTH0_CLIENT_ID={spa client id}
AUTH0_CLIENT_SECRET={spa client secret}
AUTH0_DOMAIN={your-tenant.auth0.com}
WT_URL={url that gets printed after wt create}
CLIENT_VERSION={make this match your frontend version. ex: 1.2.5}
API_AUDIENCE={api with the necessary scopes}