.users .content-header {
  margin-bottom: 20px;
}

.users .content-header .h2 {
  margin-top: 0px;
}

article.card-docs {
  min-height: 256px;
  margin-bottom: 15px;
}

.page-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #999;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.user-app:hover {
  border: 1px solid deepskyblue;
}

.user-app {
  width: 180px;
  height: 180px;
  padding: 5px;
  border: 1px solid #ddd;
  float: left;
  margin-bottom: 20px;
  margin-right: 25px;
  overflow: hidden;
}

.user-app .image-container {
  width: 110px;
  height: 110px;
  margin-top: 10px;
  margin-left: 30px;
}

.user-app .img-circle {
  width: 100%;
  padding: 5%;
  border-radius: 0;
}

.user-app .card-docs-title {
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #999;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.logoBlockImage{
  width: 14%;
  float: left;
}
.logoBlockImage img{
   width: 90%;
}
.logoBlockInfo{
  width: 86%;
  float: left;
  padding-left: 10px;
}
.appFormSubmit{
  display: none;
}

.modal-header{
  border-bottom: 1px solid #ddd !important;
}
.modal-title{
  font-weight: 600 !important;
  font-size: 18px !important;
}
.spanTitle{
  text-align: center;
  color: grey;
  margin-bottom: 30px;
  margin-top: -5px;
}
.appForm label{
  float: left !important;
  display: block;
  width: 100px;
  text-align: right;
  padding-top: 14px;
}
.appForm .col-xs-10{
  float: right !important;
}
#app_enabled{
  margin-left:10px;
  margin-top:14px;
}
.app_tip{
  color: grey;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: -3px;
}
.updateAppForm #app_enabled{
  margin-top:16px;
}
.updateAppForm label{
  width: 170px;
  padding-top: 10px;
}
.updateAppScreen .btn-div{
  text-align: center;
}
.updateAppScreen h5 {
  border-bottom: 1px solid #d0d2d3;
  letter-spacing: 0.5px;
  padding-bottom: 6px;
  text-transform: capitalize;
}